<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tourist Attractions</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<h1>Tourist Attractions</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Rating</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.location}"></td>
        <td th:text="${attraction.rating}"></td>
        <td>
            <a th:href="@{/{attraction.name}/edit}" class="btn">Edit</a>
            <a th:href="@{/{attraction.name}/delete}" class="btn">Delete</a>
            <a th:href="@{/{attraction.name}/tags}" class="btn">Tags</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/add}" class="btn">Add New Attraction</a>
</body>
</html>
